
a {
  cursor: pointer;
}

html,
body {
  /* background: #D6D6CE; */
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.text-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.long-text {
  font-family: serif;
  font-size: 22px;
  line-height: 31px;
}


/* taken from: https://pudding.cool/process/introducing-scrollama/ */
#scroll1, #scroll2 {
  /* height: 100%; */
  /* height: 2000px; */
  position: relative;
  display: flex;
}

/* .scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  /* -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0); */
  /* transform: translate3d(0, 0, 0); */


/* .scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
} */

.scroll__graphic, .scroll__graphic2 {
  position: sticky;
  right: 1rem;
  /* top: 50%; */
  top: 0;
  /* position: -webkit-sticky; */
  width: 100%;
  /* -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); */
  transform: translateY(13%);
  align-items: center;
  /* margin-top: 20%; */
}


/* #waffle {
  position: relative;
  max-width: 30rem;
} */

.scroll__text, .scroll__text2 {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
}

.step {
  margin: 0 auto 2rem auto;
  background-color: #FFFFFF;
  color: #fff;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}


.step:last-child {
  margin-bottom: 0;
}

.step.is-active#text-here {
  opacity: 1;
  background-color: #dbdbdb;
  color: #3b3b3b;
}

/* .counties {
  fill: none
} */

.graph-container {
  display: flex;
  flex-flow: row;
  min-height: 80vh;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  /* display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin-right: auto;
  margin-bottom: auto; */
  /* max-width:50%;
  min-width:800px;
  max-height:100px;
  min-height:21%; */
  /* min-height: 100px */
}

#vis1 {
  margin-left: auto;
  min-width: 950px;
  max-width: 1000px;
}

#waffle {
  margin-left: auto;
  max-width: 900px;
}


#page-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

/* From https://codepen.io/will-r-chase/pen/arGoxw */
/* .waffle-container {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 10px;
  width: 200px;
  height: 500px;
  justify-content: flex-start;
  align-content: flex-start;
}

#waffle-box {
  width: 10px;
  height: 10px;
  margin: 2px;
  z-index: 0;
  background-color: #FF7373;
  position: relative;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  transform: scale(0);
} */


#header {
    background-color: #ececec;
    height: 50px;
    width: 100%;
    margin-bottom: 2%;
}

#title-container {
  display: flex;
  flex-flow: column;
  margin-bottom: 2%;
  /* justify-content: center; */
}

#title-text-container {
  display: flex;
  flex-flow: column;
  margin-bottom: 2%;
}

#title-text {
  font-family: Helvetica;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  font-style: italic;
  /* text-align: center; */
}

#subtitle-text,
#author-text {
  font-family: sans-serif;
  /* text-align: left; */
}

#subtitle-text {
  font-size: 24px;
  line-height: 30px;
}

#author-text {
  font-size: 14px;
  font-weight: bold;
}
