
a {
  cursor: pointer;
}

html,
body {
  /* background: #D6D6CE; */
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.text-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.long-text {
  font-family: serif;
  font-size: 20px;
  line-height: 26px;
}


/* taken from: https://pudding.cool/process/introducing-scrollama/ */
#scroll1, #scroll2 {
  /* height: 100%; */
  /* height: 2000px; */
  position: relative;
  display: flex;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  /* -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0); */
  transform: translate3d(0, 0, 0);
  }

/* .scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
} */

.scroll__graphic {
  position: sticky;
  right: 1rem;
  top: 50%;
  position: -webkit-sticky;
  width: 100%;
  /* -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); */
  transform: translateY(-25%);
  margin-top: 20%;
}

.scroll__text {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
}

.step {
  margin: 0 auto 2rem auto;
  background-color: #3b3b3b;
  color: #fff;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}


.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  opacity: 1;
  background-color: goldenrod;
  color: #3b3b3b;
}


#page-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 37%;
  margin-right: 37%;
}


#header {
    background-color: #ececec;
    height: 50px;
    width: 100%;
}

#title-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#title-text {
  font-family: Helvetica;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

#subtitle-text,
#author-text {
  font-family: sans-serif;
  /* text-align: left; */
}

#subtitle-text {
  font-size: 24px;
}

#author-text {
  font-size: 14px;
  font-weight: bold;
}
